$bottom-hero-md-breakpoint: 1430px;
$bottom-hero-sm-breakpoint: 1160px;

.about_us__bottom_hero {
  @include rect(850px, 100%);
  background: linear-gradient(rgba(60, 60, 60, .28),
  rgba(60, 60, 60, .28)),
  url('/img/our-staff/group-picture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  display: flex;
  &_text_wrapper {
    margin: 316px auto auto auto;
    &-lgtext {
      font-family: $poppins;
      font-size: 24px;
      color: $plain;
      line-height: 40px;// TODO - add line height back to everything?
    }
    &_lists {
      display: flex;
      justify-content: space-between;
      margin-left: 106px;
    }
    &_list-left, &_list-right {
      margin-top: 60px;
      li {
        font-size: 21px;
        font-family: $futura;
        font-weight: 500;
        color: $plain;
        text-transform: uppercase;
        line-height: 66px;
      }
    }
    &_list-left {
      margin-right: 294px;
    }
  }
  @media (max-width: $bottom-hero-md-breakpoint) {
    height: auto;
    &_text_wrapper {
      margin-top: 19px;
    }
  }
  @media (max-width: $bottom-hero-sm-breakpoint) {
    // background: #B5B5B5;
    &_text_wrapper {
      padding: 0 34px;
      &-lgtext {
        font-size: 20px;
      }
      &_lists {
        display: block;
        margin-left: 0;
        margin-top: 23px;
      }
      &_list-left, &_list-right {
        margin-top: 0;
        li {
          font-size: 14px;
          line-height: 50px;
        }
      }
      &_list-left {
        margin: auto;
      }
    }
  }
}