.forms__cta {
  font-family: $futura;
  font-size: 20px;
  color: $sand;
  border-radius: 10px;
  text-transform: uppercase;
  height : 70px;
  width : 380px;
  background-color : #27918D;
  border: none;
}