$form-header-color: #5A5656;

.form__contact {
  // TODO - remove height later
  @include rect(60vh, 100%);
  background-color: $sand;
  &_content {
    margin-left: 30%;
    max-width: 55%;//hmm...
    &-header {
      padding-top: 64px;
      font-family: $poppins;
      font-size: 32px;
      font-weight: 400;
      color: $form-header-color;
      text-transform: uppercase;
    }
    &-smtext {
      margin-top: 25px;
    }
  }
}