$hero-white: #F4EFEF;
$subcontent-breakpoint: 1000px;
$hero-img-md-breakpoint: 1345px;
$hero-img-sm-breakpoint: 660px;
$cards-sm-breakpoint: 950px;

.home-hero {
  @include rect(100vh, 100%);
  max-height: 740px;
  background-image: url('/img/home/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  @media (max-width: $hero-img-md-breakpoint) {
    // TODO - discuss with Montell
    background-image: linear-gradient(rgba(0, 0, 0, .4),
    rgba(0, 0, 0, .4)), url('/img/home/hero-md_2.jpg');
    background-position: 80%;
  }
  @media (max-width: $hero-img-sm-breakpoint) {
    background: linear-gradient(rgba(0, 0, 0, .4),
    rgba(0, 0, 0, .4)),
    url('/img/home/hero-sm.jpg');
    background-position: 80%;
    max-height: 352px;
  }
  &__content {
    position: absolute;
    //TODO - ask Montell about percentages
    top: 225px;
    left: 10%;
    @media (max-width: $hero-img-sm-breakpoint) {
      top: 104px;
      left: 32px;
      margin-right: 80px;
    }
    &__lgtext {
      font-size: 40px;
      font-family: $poppins;
      margin-bottom: 30.5px;
      font-weight: 400;
      color: $hero-white;
      @media (max-width: $hero-img-sm-breakpoint) {
        font-size: 30px;
      }
    }
    &__btn {
      background-color: $teal;
      filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
      padding: 22px 10px;
      font-family: $futura;
      font-size: 21px;
      color: $sand;
      border-radius: 10px;
      border-color: transparent;
      text-transform: uppercase;
      &:hover {
        // TODO - hover styles? - greenish for white, green for teal
      }
      @media (max-width: $hero-img-sm-breakpoint) {
        font-size: 12px;
        padding: 12px 15px;
      }
    }
  }
}

.home_hero__subcontent {
  background-color: #27918D;
  text-align: center;
  color: $sand;
  &__lgtext {
    padding-top: 32px;
    font: 32px $poppins ;
    text-transform: lowercase;
    @media (max-width: $cards-sm-breakpoint) {
      text-transform: capitalize;
    }
    @media (max-width: $subcontent-breakpoint) {
      padding-top: 23px;
    }
    @media (max-width: $hero-img-sm-breakpoint) {
      font-size: 24px;
    }

  }
  &__smtext {
    margin-top: 43px;
    padding: 0 150px 74px 150px;
    font: 20px $futura;
    line-height: 30px;
    @media (max-width: $subcontent-breakpoint) {
      margin-top: 18px;
      padding: 0 8px 28px 8px;
    }
    @media (max-width: $hero-img-sm-breakpoint) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}