$modal-background: #65A5AD;
$line-color: #8DCD89;
$modal-breakpoint: 800px;
$cards-med-breakpoint: 1650px;
$cards-sm-breakpoint: 950px;

.home-maincontent {
  background-color: $sand;
  color: $vidaloca;
  @media (max-width: $cards-sm-breakpoint) {
    // TODO - should this happen at a smaller size??
    background-color: #8DCD89;
    margin: -14px 7.5px 0 7.5px;
  }
  &__lgtext {
    padding-top: 43px;
    width: 100%;
    text-transform: lowercase;
    font: 32px $poppins;
    text-align: center;
    @media (max-width: $cards-sm-breakpoint) {
      padding: 29px 24.5px 0 24.5px;
      font-size: 22px;
      line-height: 35px;
      color: $white;
      text-transform: capitalize;
      text-align: left;
    }
    &__border_bottom {
      margin-top: 12px;
      color: $iroko;
      @include rect(1px, 378px);
      margin-bottom: 5em;
      text-align: center;
      margin: 12px auto 0 auto;
      @media (max-width: $cards-sm-breakpoint) {
        display: none;
      }
    }
  }

  &__cards {
    margin-top: 96px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 18px 32px;
    justify-items: center;
    align-items: center;
    @media (max-width: $cards-med-breakpoint) {
      grid-template-columns: repeat(2, minmax(380px, 1fr));
    }
    @media (max-width: $cards-sm-breakpoint) {
      margin-top: 12px;
      display: block;
      &__card {
        margin: 0 auto 17px auto;
        &:last-of-type {
          margin-bottom: 13px;
        }
        &-img {
          @include rect(145px, 303px)
        }
      }
      padding-bottom: 13px;
    }
    &__card {
      @include rect(387px, 377px);
      @media (max-width: $cards-sm-breakpoint) {
        // going to need a smaller one too for ex-small
        // min-width: 290px;
        @include rect(259px, 300px);
      }
      position: relative;
      &:hover {
        cursor: pointer;
        // TODO - discuss with Montell
        // transform: scale(1.0125);
        // transition: transform 0.3s linear;
        // .home-maincontent__cards__card-img, .home-maincontent__cards__card__text_wrapper {
        //   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        //   transition: box-shadow 0.3s linear;
        // }
      }
      &-img {
        // background-image will be passed in through props
        @include rect(265px, 100%);
        background-size: cover;
        border-radius: 10px;
        @media (max-width: $cards-sm-breakpoint) {
          @include rect(145px, 100%);
        }
      }
      &__text_wrapper {
        position: absolute;
        top: 154px;// eyeballed...
        left: 50%;
        transform: translate(-50%);
        @include rect(221px, 291px);
        background-color: $plain;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 3px 78px #00000029;
        display: flex;
        flex-direction: column;
        &__lgtext{
          font: 24px $poppins;
          line-height: 32px;
          text-transform: uppercase;
        }
        &__smtext {
          display: block;
          font: 16px $poppins;
          text-transform: uppercase;
        }
        @media (max-width: $cards-sm-breakpoint) {
          @include rect(144px, 89%);
          top: 110px;// eyeballed this too...
        }
      }
    }
    padding-bottom: 176px;
  }

  &__info {
    @include rect(90vh, 1065px);
    @media (max-width: 1220px) {
      width: 85vw;
    }
    background: $modal-background url('/img/enlarged-logo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: initial;// overwriting the curser set by &__card
    &-close {
      @include box(20px);
      background-image: url('/img/close.svg');
      // overwrititng button styles
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50px;
      right: 80px;
      &:hover {
        cursor: pointer;
      }
      @media (max-width: $modal-breakpoint) {
        top: 32px;// guessed...
        right: 26px;
      }
    }
    &__top_lines {
      padding-top: 30px;
      @media (max-width: $modal-breakpoint) {
        padding-top: 20px;
      }
    }
    &__bottom_lines {
      padding-bottom: 30px;
      @media (max-width: $modal-breakpoint) {
        padding-bottom: 20px;
      }
    }
    &_lines {
      &_vertical {
        margin: auto;
        height: 140px;
        width: 2px;
        background-color: $line-color;
        @media (max-width: $modal-breakpoint) {
        height: 44px;
        }
      }
      &_horizontal {
        margin: 12.5px auto 0 auto;
        height: 2px;
        width: 50%;
        background-color: $line-color;
        @media (max-width: $modal-breakpoint) {
        width: 78%;
        }
      }
    }
    p, li {
      color: $white;
      font-size: 18px;
      font-family: $poppins;
      font-weight: 400;
      @media (max-width: $modal-breakpoint) {
        font-size: 13px;
      }
    }
    &__content {
      margin: auto;
      padding: 0 130px;
      @media (max-width: $modal-breakpoint) {
        margin-right: 25px;
        padding: 16px 40px 0 65px;// 40px on right because 65px(normal) - 25px(margin)
      }
      &-short  {
        padding: 0;
      }
      max-height: 500px;
      overflow-y: auto;
      @media (max-width: $modal-breakpoint) {
        max-height: initial;
      }
      &::-webkit-scrollbar {
        width: 5px;
        background-color: rgb(104,176,141);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(141,205,137);
      }
      &_mainsentence {
        margin: 20px auto;
        line-height: 39px;
        &-short {
          max-width: 50%;
          line-height: 50px;
          @media (max-width: $modal-breakpoint) {
            max-width: 90%;
          }
        }
        @media (max-width: $modal-breakpoint) {
          margin: 18px auto 55px auto;
          margin-top: auto;
          &-individual {// because Individual doesn't need margin
            margin-bottom: 0;
          }
        }
      }
      &_listitems {
        &-heading {
          margin-top: 18px;
          font-family: Poppins;
          text-decoration: underline;
          font-size: 20px;
          line-height: 60px;
          @media (max-width: $modal-breakpoint) {
            margin-top: 7px;
            text-align: center;
          }
        }
        li {
          line-height: 55px;
        }
        &-long {
          columns: 2;
          column-gap: 140px;
          li {
            line-height: 45px;
          }
          @media (max-width: $modal-breakpoint) {
            columns: 1;
            li {
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}
