$modal-background: #65A5AD;
$line-color: #8DCD89;
$modal-breakpoint: 800px;

.home-maincontent {
  background-color: $sand;
  color: $vidaloca;
  &__lgtext {
    padding-top: 43px;
    width: 100%;
    text-transform: lowercase;
    font: 32px $poppins;
    text-align: center;
    &__border_bottom {
      margin-top: 12px;
      color: $iroko;
      @include rect(1px, 378px);
      margin-bottom: 5em;
      text-align: center;
      margin: 12px auto 0 auto;
    }
  }

  &__cards {
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // TODO - work on later
    // @media (max-width: 1635px) {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    // }
    &__card {
      // border: 3px solid red;
      margin: 0 32px;
      @include rect(387px, 377px);
      // TODO - add min
      position: relative;
      &:hover {
        cursor: pointer;
        // TODO - discuss with Montell
        // transform: scale(1.0125);
        // transition: transform 0.3s linear;
        // .home-maincontent__cards__card-img, .home-maincontent__cards__card__text_wrapper {
        //   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        //   transition: box-shadow 0.3s linear;
        // }
      }
      &-img {
        // background-image will be passed in through props
        @include rect(265px, 100%);
        background-size: cover;
        border-radius: 10px;
      }
      &__text_wrapper {
        position: absolute;
        top: 154px;// eyeballed...
        left: 50%;
        transform: translate(-50%);
        @include rect(221px, 291px);
        background-color: $plain;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 3px 78px #00000029;
        display: flex;
        flex-direction: column;
        &__lgtext{
          font: 24px $poppins;
          line-height: 32px;
          text-transform: uppercase;
        }
        &__smtext {
          display: block;
          font: 16px $poppins;
          text-transform: uppercase;
        }
      }
    }
    padding-bottom: 176px;
  }

  &__info {
    @include rect(90vh, 1065px);
    @media (max-width: 1220px) {
      width: 85vw;
    }
    background-color: $modal-background;
    background-image: url('/img/enlarged-logo.png');
    background: $modal-background url('/img/enlarged-logo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: initial;// overwriting the curser set by &__card
    &-close {
      @include box(20px);
      background-image: url('/img/close.png');
      // overwrititng button styles
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50px;
      right: 80px;
      &:hover {
        cursor: pointer;
      }
    }
    &__top_lines {
      padding-top: 30px;
    }
    &__bottom_lines {
      padding-bottom: 30px;
      > div {
        // targeting the horizontal line
        margin: 0 auto 12.5px auto;
      }
    }
    &_lines {
      &_vertical {
        margin: auto;
        height: 140px;
        width: 1px;
        background-color: $line-color;
      }
      &_horizontal {
        margin: 12.5px auto 0 auto;
        height: 1px;
        width: 50%;
        background-color: $line-color;
      }
    }
    p, li {
      color: $white;
      font-size: 18px;
      font-family: $poppins;
      font-weight: 400;
    }
    &__content {
      margin: auto;
      padding: 0 130px;
      @media (max-width: $modal-breakpoint) {
        padding: 0 65px;
      }
      &-short  {
        padding: 0;
      }
      max-height: 500px;
      overflow-y: auto;
      // TODO - suggest scroll inside for responsiveness
    &::-webkit-scrollbar {
      width: 10px;
      background: $line-color;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);

    }
      &_mainsentence {
        margin: 20px auto;
        line-height: 39px;
        &-short {
          max-width: 50%;
          line-height: 50px;
          @media (max-width: $modal-breakpoint) {
            max-width: 80%;
          }
        }
      }
      &_listitems {
        &-heading {
          margin-top: 18px;
          font-family: Poppins;
          text-decoration: underline;
          font-size: 20px;
          line-height: 60px;

        }
        li {
          line-height: 55px;
        }
        &-long {
          columns: 2;
          column-gap: 140px;
          li {
            line-height: 45px;
          }
          @media (max-width: $modal-breakpoint) {
            columns: 1;
          }
        }
      }
    }
  }
}
