$lg-break: 1600px; // TODO - change later after revised design
.nav {
  background-color: $sand;
  @include rect(140px, 100%);
  display: flex;
  padding: 0 115px 0 146px;
  font-size: 16px;
  font-family: $futura;
  color: #5A5656;
  // TODO - update font from Montell
  &__logo {// TODO - ask Montell if nav is a little too far off?
    margin: auto 0 27px 0;
    &:hover {
      cursor: pointer;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
    align-items: flex-end;
    @media (max-width: $lg-break) {// TODO - change later after revised design
      flex-direction: column;
      justify-content: flex-end;
       div, ul {
        margin-right: 0;
      }

    }
    &__links__list {
      margin: 0 auto;
      display: flex;
      width: 531px;
      justify-content: space-between;
      margin-right: auto;
      &-item {
        text-transform: uppercase;
        &:hover{
          cursor: pointer;
        }
      }
    }
    &__info {
      margin-left: auto;
      &-text {
        display: block;
        text-align: right;
        &-phn {
          margin-bottom: 11px;
        }
      }
    }
  }

  &_mobile {
    // only displayed at breakpoint(changed further down)
    display: none;
    justify-content: space-between;
    align-items: center;
    &__hamburger_icon {
      margin-left: 23.5px;
      @include rect(18px, 33px);
      background-image: url('/img/home/hamburger.png');
      background-size: contain;
      background-position: center;
      &:hover {
        cursor: pointer;
      }
    }
    &__logo {
      // TODO - break it down at another breakpoint
    }
    &__thing {
      margin-right: 15px;
      @include rect(29px, 77px);
      background-color: $teal;
    }
    &__content {


      &-hidden {
        visibility: hidden;
        position: absolute;// TODO - think more about this...
      }
    }
  }

  // removing desktop nav at breakpoint and showing mobile navbar
  @media (max-width: $lg-break) {
    display: none;
    &_mobile {
      display: flex;
    }
  }
}