$lg-break: 1530px; // TODO - change later after revised design
.nav {
  background-color: $sand;
  @include rect(140px, 100%);
  display: flex;
  padding: 0 115px 0 146px;
  font-size: 16px;
  color: #5A5656;
  // TODO - update font from Montell
  &__logo {// TODO - ask Montell if nav is a little too far off?
    margin: auto 0 27px 0;
    &:hover {
      cursor: pointer;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
    align-items: flex-end;
    @media (max-width: $lg-break) {// TODO - change later after revised design
      flex-direction: column;
      justify-content: flex-end;
       div, ul {
        margin-right: 0;
      }

    }
    &__links__list {
      margin: 0 auto;
      display: flex;
      width: 531px;
      justify-content: space-between;
      margin-right: auto;
      &-item {
        text-transform: uppercase;
        &:hover{
          cursor: pointer;
        }
      }
    }
    &__info {
      margin-left: auto;
      &-text {
        display: block;
        text-align: right;
        &-phn {
          margin-bottom: 11px;
        }
      }
    }
  }
}