// colors
$scorpion: #5A5656;
$teal: #2C837F;
$sand: #F5F5F5;
$vidaloca: #538C1B;
$iroko: #402E1E;
$white: #FDFDFD;
$plain: #FFFFFF;

// fonts
$poppins: poppins, sans-serif;

$futura: futura-pt, sans-serif;

// sizes
$max-width: 1920px;